/* .btn1 {
  border: none;
  background: transparent;
  padding: 6px 8px;
  font-size: 20px;
  color: #fff;
  background: blue;
  border-radius: 5px;
  transition: 0.3s all ease-out;
 margin-bottom: 130px;
width: 120px;
  margin-right: 60px;
  height: 40px;
  
}

.btn1:hover {
  color:white;
  background: red;
} */
